body {
  background: #fffefa;
  max-width: 78em;
  margin: 0 auto;
  position: relative;
  padding: 4em;
}
h1 {
  margin: 0;
}
body,
input,
select,
textarea,
button {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
}
a {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 23px;
}
.list-unstyled {
  list-style: none;
}
ul {
  margin: 0;
}
dl {
  margin: 0;
}
dt {
  font-style: italic;
}
dt::after {
  content: ".";
}
