.special-contact-form {
  padding: 20px;
  max-width: 28em;
  margin: 0 auto;
}
.special-contact-form span,
.special-contact-form input,
.special-contact-form select,
.special-contact-form textarea {
  font-size: 22px;
  background: transparent;
  display: inline;
  line-height: 1em;
  margin: 0;
}
.special-contact-form input,
.special-contact-form input:focus,
.special-contact-form select,
.special-contact-form select:focus,
.special-contact-form textarea,
.special-contact-form textarea:focus,
.special-contact-form button:focus {
  border: none;
  outline: none;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 23px;
}
.special-contact-form textarea {
  display: block;
}
.special-contact-form .send-btn {
  text-align: right;
  display: block;
}
.special-contact-form .send-btn button[type="submit"] {
  margin-top: 1em;
  background: rgba(0,0,0,0.1);
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}
.special-contact-form .send-btn button[type="submit"]:hover {
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}
