extend site-layout.extend
block head
  link(rel="stylesheet" type="text/css" href="special-contact-form.css")
  style.
    .no-visibility {visibility:hidden}
    .special-contact-form {opacity: 0.5}
    .notice {padding: 20px; background: #fee3ab; }
    dt { font-weight: bold; }
  title MOState ACM - About us

block body
  .text-center
    h2 About us
  p.
    We are the Missouri State Assciation for Machinery Computing (or <em>MOState ACM</em>).
    We want students involved with programming on campus to be able to learn from others
    with their same passions, we are welcome to recruiters and software developers in the
    community to show interesting about the industry. Everyone is welcome to come to our
    meetings on Thursdays at 5pm in Cheek 209 (For the semester of Fall 2015).

  .text-center
    h2 Executive Board Members
  dl
    dt President
    dl Mitchell Marlow
    dt Vice-President
    dl Christopher Franklyn
    dt Treasurer
    dl Clint Cochrane
    dt Secretary
    dl Cole Lawrence
