extend site-layout.extend
block head
  link(rel="stylesheet" type="text/css" href="special-contact-form.css")
  style.
    .no-visibility {visibility:hidden}
    .special-contact-form {opacity: 0.5}
    .notice {padding: 20px; background: #fee3ab; }
    dt { font-weight: bold; }
  title MOState ACM - About us

block body
  .text-center
    h2 About us
  p.
    Our goal is to give our Missouri State Computer Science students opportunities to engage with Springfield's vibrant business community, and develop professional industry skills through community engagement.

  .text-center
    h2 Executive Board Members
  dl
    dt President
    dd Mitchell Marlow
    dt Vice-President
    dd Christopher Franklyn
    dt Treasurer
    dd Clint Cochrane
    dt Secretary
    dd Cole Lawrence
