extend site-layout.extend
block head
  link(rel="stylesheet" type="text/css" href="special-contact-form.css")
  style.
    .no-visibility {visibility:hidden}
    .special-contact-form {opacity: 0.5}
    .notice {padding: 20px; background: #fee3ab; }
    dt { font-weight: bold; }
  title MOState ACM - Documents

block body
  .text-center
    h2 Documents
  .text-center
    h2 Workshop Presentations
  dl
    dt September 3rd, 2015
    dd
      a(href="presentations/mostateacm-workshop-2015-09-03.pdf") Github Workshop PDF
      | ,&nbsp;
      a(href="https://youtu.be/ZYSVmxj4heY" alt="Github Workshop video") Youtube Video
  dl
    dt October 1st, 2015
    dd
      a(href="presentations/mostateacm-workshop-2015-10-01.pdf") Standing Out: Resume and Interview Workshop PDF