extend site-layout.extend
block head
  title Code Rocket
  link(href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css')

block body
  .header
    img(src="code-rocket-logo.svg")
    h1.rw-font.up Code Rocket
    p.rw-font(title="Our mission statement.") To find and empower passionate programmers.
  br
  dl
    dt About
    dd
      | Based in <a href="https://www.google.com/maps/place/Springfield,+MO">Springfield, Missouri</a>,
      | Code Rocket helps teach the community how to become successful programmers and introduce people
      | to the importance of Computer Science and Information Technology education.
  dl
    dt Programs
    dd
      | The following events are being developed out for the Spring Semester of 2015;
      ul
        li
          a(href="#/wip/summer-camps") Summer Camps
          | ,
        li
          a(href="#/wip/educational-lectures") Educational Lectures
          | , and
        li
          a(href="#/wip/code-workshops") Workshops
  dl
    dt Team
    dd: ul.list-unstyled.no-padding.hanging-indent
      li
        a(href="#/team/cole-lawrence") Cole Lawrence
        | : Founder, <em>Missouri State Computer Science Major</em>
      li
        a(href="#/team/brandon-mccoy") Brandon McCoy
        | : Co-founder, <em>Missouri State Finance Major</em>
      li
        a(href="#/team/matt-pierzynski") Matt Pierzynski
        | : Co-founder, <em>Missouri State Computer Science Major</em>
      li
        a(href="#/team/cameron-yuan") Cameron Yuan
        | : Co-founder, <em>Missouri State Computer Science Major</em> and <em>Finance Major</em>
  dl
    dt Contact
    dd: a(href="mailto:lawrence0@live.missouristate.edu") Lawrence0@live.MissouriState.edu
  br
  footer
    .text-center
      a.teeny-tiny(href="https://github.com/ZombieHippie/coderocket.org" target="_blank") this page's source code on GitHub
    script(src="bundle.js" type="text/javascript")