extend site-layout.extend
block head
  title MOState ACM
  style.
    .small-logo { display: none }
    a.header h1 { font-size: 64px }

block body
  .header
    img(src="logo-bear-pixelated-1.png" alt="computeristic bear head")
  p We like programming, and <a href="https://www.youtube.com/watch?v=nKIu9yen5nc" alt="code.org promotional video">you should too</a>.