extend site-layout.extend
block head
  title MOState ACM
  style.
    .small-logo { display: none }
    a.header h1 { font-size: 64px }
    html {background-image: url(bg.png); background-size: cover;}
    body {background: transparent}

block body
  .text-center
    img(src="logo-bear-pixelated-1.png" alt="computeristic bear head")
    br
    p We like programming, and we hope you do too.
  .text-center
    iframe(width="560" height="315" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen)