extend site-layout.extend
block head
  title CodeRockIT

block body
  h1 CodeRockIT
  br
  dl
    dt Mission
    dd To find and empower passionate programmers.
  br
  dl
    dt Team
    dd: ul.list-unstyled.no-padding.hanging-indent
      li
        a(href="#/team/cole-lawrence") Cole Lawrence
        | : Founder, <em>Missouri State Computer Science Major</em>
      li
        a(href="#/team/brandon-mccoy") Brandon McCoy
        | : Co-founder, <em>Missouri State Finance Major</em>
      li
        a(href="#/team/matt-pierzynski") Matt Pierzynski
        | : Co-founder, <em>Missouri State Computer Science Major</em>
      li
        a(href="#/team/cameron-yuan") Cameron Yuan
        | : Co-founder, <em>Missouri State Computer Science Major</em> and <em>Finance Major</em>
  br
  dl
    dt Contact
    dd: a(href="mailto:coderockit@gmail.com") CodeRockIT@gmail.com
  br
