doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="stylesheet" type="text/css" href="site.css")
    block head

  body
    a.header(href="index.html")
      h1 MOState ACM
      small Missouri State Association for Computing Machinery
      .text-center
        img.small-logo(src="small.png" alt="tiny pixellated bear head")
    block body
    footer
      nav
        ul
          li
            a(href="contact.html" alt="Say hi") Contact us
            | ,
          li
            a(href="https://github.com/MOStateACM" alt="MOState ACM Github Organization") Github
            | ,
          li
            a(href="https://www.facebook.com/pages/MOState-ACM/377941325724120" alt="MOState ACM Facebook page") Facebook
      a(href="https://www.google.com/calendar/render?action=SUBSCRIBE&cid=mostateacm@gmail.com#i" target="_blank" alt="Subscribe to our Google Calendar") Subscribe to our Google Calendar
      block footer